@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


/* ===============
   GLOBAL SETTINGS 
   =============== */

:root {

    /* FONT COLORS */

    --clr-primary: hsl(270, 9%, 17%);
    --clr-secondary: hsl(273, 4%, 51%);

    /* BACKGROUND COLORS */

    --bg-color: hsl(256, 26%, 20%);

    /* FONT FAMILIES */

    --ff-primary: 'Karla', sans-serif;
    --ff-secondary: 'DM Serif Display', sans-serif;

    /* FONT WEIGHTS */
    
    --fw-regular: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* ===================================== */

/* ===============
   GENERAL STYLES 
   =============== */

body {
    margin: 0;
    font-family: var(--ff-primary);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
}

ul {
    padding: 0;
}

/* ===================================== */


/* ===============
   UTILITY CLASSES 
   =============== */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

.p_line-height {
    line-height: 1.5rem;
}

.accent_text {
    color: white;
}

.overflow-hidden {
    overflow: hidden;
}

.btn {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    background: transparent;
    padding: 1em 2.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.btn--dark {
    border: 1px solid black;
}

.btn--light {
    border: 1px solid white;
    color: white;
}

.btn--light:hover,
.btn--light:active {
    background-color: white;
    color: black;
    transition: background-color 1s;
}

.btn--dark:hover,
.btn--dark:active {
    background-color: black;
    color: white;
    transition: background-color 1s;
}

.section__title {
    text-align: center;
    font-size: 3rem;
    padding-top: 1em;
}

.section__title::before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 150px;
}

/* ===================================== */


/* ====================
   HEADER AND MAIN NAV 
   ==================== */

header {
    padding: 1em 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.header__nav {
    font-weight: var(--fw-bold);
    display: none;
}

.header__nav--mobile {
    display: block;
    position: absolute;
    background-color: var(--clr-primary);
    left: 0;
    top: 3.313rem;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.nav__item {
    text-transform: uppercase;
    color: var(--clr-secondary);
    letter-spacing: 1.5px;
}

.header__link {
    color: white;
}

.header__link:hover,
.header__link:active {
    color: black;
    transition: color 1s;
}

.hamburger {
    position: absolute;
    right: 2rem;
}

/* ===================================== */


/* ===============
   SECTION - HERO 
   =============== */

.hero {
    color: white;
    text-align: center;
    position: relative;
    background-color: var(--bg-color);
}

.hero::before {
    content: url(../images/bg-pattern-intro-left-mobile.svg);
    position: absolute;
    left: 0;
    top: 40%;
}

.hero::after {
    content: url(../images/bg-pattern-intro-right-mobile.svg);
    position: absolute;
    right: 0;
    bottom: -10rem;
}

.hero__text {
    padding-bottom: 3em;
}

.hero__text * {
    position: relative;
}

.hero__img {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.hero__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* ===================================== */


/* ==============
   SECTION - TWO 
   ============== */

.section-two {
    padding: 4em 0;
}

.col {
    text-align: center;
    padding-bottom: 3em;
}

.col__description {
    color: var(--clr-secondary);
}


aside {
    color: white;
    text-align: center;
    background-color: var(--bg-color);
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-position: right top;
    background-repeat: no-repeat;
    padding: 2em;
}

/* ===================================== */


/* ==============
       FOOTER 
   ============== */

footer {
    text-align: center;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 2em 0;
}

.footer__nav {
    font-weight: var(--fw-bold);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer__links,
.footer__icons{
    list-style: none;
}

.nav__header {
    color: var(--clr-secondary);
}

.footer__link {
    color: black;
    position: relative;
}

.footer__link::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer__link:hover::before {
    transform: scaleX(1);
}

.footer__socials {
    border-bottom: 1px solid grey;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.icons__item:hover,
.icons__item:active {
    filter: brightness(0);
    transition: filter 300ms ease-in;
}

.footer__info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 2rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ===================================== */


/* ==============
   MEDIA QUERIES 
   ============== */

@media (min-width:480px) {

    .row {
        display: flex;
        gap: 1em;
    }

    .hero__content {
        flex-direction: row;
    }

    .col, .section__title, aside, .hero {
        text-align: left;
    }

    .section__title--light::before {
        background-color: white;
    }

    aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-position: right;
        background-repeat: no-repeat;
    }

    .hero::before {
        content: url(../images/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        left: 0;
        bottom: -15rem;
    }

    .hero::after {
        content: url(../images/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        right: 0;
        top: -6.25rem;
    }

    .hero__img {
        transform: translateY(100px);
    }

    .hero__text,
    .hero__img {
        flex: 0 0 50%;
    }

    footer {
        text-align: left;
        background-image: url(../images/bg-pattern-footer-desktop.svg);
        background-position: left top;
    }

    .footer__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__info {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width: 780px) {
    
    header {
        padding: 0.5em 0;
    }

    .hamburger {
        display: none;
    }

    .header__nav {
        display: block;
    }

    .header__link {
        color: var(--clr-secondary);
    }

    .nav__list {
        flex-direction: row;
    }
}

/* ===================================== */